
/* 共通設定 */
/* 両サイドに余白があったので全体にmargin設定 */
* {
    margin: 0 20px ;
    padding: auto;
    /* 全体のフォント変えたければ設定 */
    /* font-family: serif; */
    /* 細字が日本語対応できないみたいでした */
    font-weight: lighter;
}

.wrapper {
    width: 1000px;
}

.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.back {
    width: 100%;
    margin: 0;
}


/* -------------------------------- */
/* ヘッダー部分 */
.head {
    display: flex;
    width: 100%;
    height: 60px;
    /* デバッグ用で色付け */
    /* background-color: aquamarine; */
    justify-content: space-between;
}

/* 親要素に対して相対的な大きさ設定 */
.rogo {
    position: relative;
    width: 15%;
    height: 30px;
    margin: auto auto auto 0;
    
}

/* ヘッダーメニューの設定 */
.head ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* 冗長？① */
    margin-right: 0;
}

.head a {
    text-decoration: none;
    color: black;
    /* 冗長？① */
    margin-right: 0;
}
/* 冗長？① */
.head ul li {
    margin-right: 0;
}

/* -------------------------------- */
/* ここからメイン */

/* メインロゴ */
/* ヘッダーと横幅が揃わなかったので
親要素"section"を作成し、相対的大きさ設定 */
.main_rogo {
    position: relative;
    width: 100%;
}

/* 中央揃え */
.toptext {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0 20px;

}

.toptext h1 {
    font-weight: lighter;
    font-size: 30px;
    width: 100%;
    margin: 0;
}

/* ここだけ強調 */
.b-blow {
    font-weight: bold;
    font-size: 40px;
    font-family: serif;
}

.toptext p {
    line-height: 300%;
    width: 100%;
    margin: 0;
}

.box {
    position: relative;
    margin: 0;
    width: 100%;
}

/* about以下 */
.back_img1 {
    position: absolute;
    width: 100%
    
}

.textarea {
    position:absolute;
    text-align: center;
    top: 50px;
    align-items: center;
    margin: 100px 20px auto;
    width: 100%;
}

.textarea_1 {
    margin-bottom: 30px;
}

.textarea_1 h1 {
    margin-bottom: 0;
    font-size: 50px;
    font-weight: bold;
}

.area1_h2 {
    margin: 0 auto 10px;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
    text-align: justify;

}
.textarea_1 h2 {
    margin-bottom: 20px;
    font-size: 10px;
    display: block;
    width: 15%;
    text-align-last: justify;    /* Chrome・Firefox用 */
}

.textarea_1 h3 {
    margin: 0 auto 10px;
    font-size: 30px;
    text-align: center;
    width: 80%;

    
}

.textarea_1_1 {
    position: relative;
    display: flex;
}

/* .textarea p {
    width: 55%;
    line-height: 300%;
    margin: 20px 0 20px 0;
    text-align: left;
} */


.area1_p {
    width: 55%;
    line-height: 300%;
    margin: 20px 0 20px 0;
    text-align: left;
}

.img_samp {
    position: absolute;
    left: 55%;
    display: block;
    width: 45%;
}

.area1_p2 {
    width: 55%;
    line-height: 300%;
    margin: 60px 0 20px 0;
    text-align: left;
}

/* ------------------------ */
/* .b-blowが選ばれる４つの理由 */

/* ４つの理由部分の枠 */
.four {
    margin: 350px 0 0;
    width: 100%;
}

.four h4 {
    font-size: 50px;
    text-align: center;
    margin: 0 20px;
    text-align-last: justify; 
}

.four_blow {
    font-size: 70px;
    font-weight: bold;
    font-family: serif;
}

.span_4 {
    font-size: 60px;
    font-weight: bold;
}

