@media screen and (max-width:375px) {
    
    .wrapper {
        width: 375px;
    }

    p {
        font-size: 70%;
    }

    /* 改行 */
    .sp_br {
        display: block;
    }

    /* 改行無効 */
    .sp_br_no {
        display: none;
    }
    /* -------------------------
    見だし設定 */
h1 {
    font-size: 100%;
}

/* conerクラスのh1・h2のセット使用 */
.coner h1 {
    font-size: 200%;
}

.coner_faq h1 {
    font-size: 80%;
}


/* conerクラスのh1・h2のセット使用 */
h2 {
    font-size: 50%;
}

/* .about testarea_1, */
h3 {
    margin: 0 auto 10px;
    font-size: 80%;
}

/* .faq qaset */
.qaset h3 {
    font-size: 100%;
}

/* .footer company */
.company h3 {
    font-size: 100%;

}
/* .four, 選ばれる４つの理由 */
h4 {
    font-size: 180%;
}

/* .four harf */
h6 {
    font-size: 100%;
    padding-top: 10px;
}

/* coner系：大文字と小文字の上下セットみだし */
.coner {
    margin-bottom: 20px;
}

    /* -----------------------
    header */
    .head {
        height: 120px;
    }
    .rogo {
        width: 40%;
    }

    .head ul {
        display: block;
        width: 60%;
        padding: 0;
        text-align: right;
    }

    .head ul li {
        margin: 0;
    }

    /* ーーーーーーーーーーーーーーーーーーー
    メインロゴ */
    /* 変更なし */

    /* --------------------------
    ABOUT */

    .box {
        height: 1100px;
    }

    .back_img2 {
        display: block;
        position: absolute;
        width: 100%;
        top: 475px;
    }
    .back_img3 {
        display: block;
        position: absolute;
        width: 100%;
        top: 770px;
    }

    .textarea {
        margin: 0  5%;
        top: 60px;
    }

    .textarea_1_1 {
        display: block;
    }

    .area1_p {
        width: 100%;
    }

    .img_samp {
        position: relative;
        width: 100%;
        margin: 0;
        left: 0;

    }


.area1_p2 {
        width: 100%;
        margin: 30px 0 20px;
    }

/* -------------------------------
FOUR */

    .pair {
        display: block;
        margin-top: 20px;
    }

    .harf {
        width: 100%;
        margin: 0;
    }

    .title {
        height: 100px;
    }
    /* .point {
        top: 40%;
    }
 */
    .icon {
        padding-right: 15%;
    }

    .kutu {
        padding-top: 5%;
    }

    .reason_text {
        height: 100px;
    }

    .h6_under {
        margin-top: 40px;
    }


    /* --------------------------
    CUSTOMER REVIEWS */

    .box2 {
        height: 1680px;
    }


    .back_img4 {
        display: block;
        position: absolute;
        width: 100%;
        top: 1025px;
    }

    .textarea2 {
        margin-top: 100px;
    }

    .reviews {
        padding-top: 20px;
        padding-bottom: 0;
        height: auto;
    }

    .review {
        position: relative;
        width: 100%;
    }

    .img_rev {
        position: relative;
        width: 100%;
    }

    .review_4 {
        position: relative;
        width: 100%;
    }

    /*.reviews P {
        font-size: 65%;
    } */
    /* -----------------------
    PROODUCTTS */

    .products {
        margin-top: 0px;
    }

    .goods {
        display: block;
    }

    .goods_harf {
        width: 80%;
        margin: 0 auto 30px;
        align-items: center;
    }

    .goods_det {
        height: auto;
        margin-bottom: 30px;
    }

    .online {
        font-size: 100%;
        height: 40px;
        line-height: 40px;
        margin: 0;
    }

    .teiki {
        font-size: 100%;
        height: 50px;
        line-height: 50px;
        margin: 20px 0 40px;
    }


/* -------------------------------
定期購入フォーム */

/* 背景に画像を設定するための土台部分 */
.box3 {
    /* 小要素のabsolute分高さ調整 */
    height: 650px;
}

.back_img6 {
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
}
.teiki_form {
    top: 80px;
}

}

.text {
    margin-top: 5px;
    font-size: 120%;
}

.tag1 {
    width: 40%;
    font-size: 100%;
    
}

.tag2 {
    width: 80%;
    font-size: 100%;

}

.tag3 {
    width: 40%;
    font-size: 100%;

}

    /* -------------------------
    FAQ */

    .faq {
        margin-top: 50px;
    }

    .coner_faq {
        margin-bottom: 50px;
    }

    /* --------------------------
    NEWS */

    .news {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;

    }

    .news_row1 {
        flex-flow: column;
        width: 40%;
        height: 300px;
        margin: auto 5%;
    }

    .news a {
        width: 100%;
        height: 20%;
    }

    .img_news {
        width: 100%;
        height: auto;
    }

    /* 画像毎の差による高さ調節 */
    .sanspo {
        padding-top: 13%;
        box-sizing: border-box;
    }

    .excite {
        padding-bottom: 25%;
        box-sizing: border-box;
    }

    .zaikei {
        padding-top: 5%;
        box-sizing: border-box;
    }


    /* ------------------------
    footer */

    .company_0 {
        margin-right: 10px;
    }

    .sns_0 {
        display: block;
        width: 25%;
    }

    .sns1 {
        margin-right: 0;
        font-size: 120%;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .sns2 {
        font-size: 120%;
        border-radius: 5px;
    }
    .sns_0 img {
        width: 20%;
    }

    .sns1 p {
        margin: 2px 5px 2px 5px;
    }

    .sns2 p {
        margin-right: 5px;
    }

    .sns_0 a {
        display: block;
        width: auto;
    }
}   
