
/* 共通設定 */
/* 両サイドに余白があったので全体にmargin設定 */
* {
    margin: 0;
    padding: auto;
    /* 全体のフォント変えたければ設定 */
    /* font-family: serif; */
    /* 細字が日本語対応できないみたいでした */
    font-weight: normal;
}

/* 全体の横幅設定とフォント統一 */
.wrapper {
    width: 1000px;
    font-family: "YuGothic";
    font-weight: 500;
}

/* フロート解除用 */
.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}
/* 自動スクロール対応 */
html {
    /* ブラウザによっては機能しない */
    scroll-behavior: smooth;
}

/* 背景画像ありのセクション */
.back {
    width: 100%;
    margin: 0;
}

/* ----------------------------------- */
/* みだし一覧 */

/* .toptext  */
h1 {
    font-size: 30px;
    text-align: center;
}


.coner h1 {
    font-weight: bold;
    font-size: 60px;
}

.reviews h1 {
    text-align: left;
}

.goods h1 {
    font-size: 25px;
}

/* conerクラスのh1とのセット使用 */
h2 {
    font-size: 15px;
    display: block;
    width: 30%;
    text-align: center;
    letter-spacing: 2em;
}

/* 文字感覚調整 */
.coner_faq h2 {
    letter-spacing: 0.5em;
}

h3 {
    margin: 0 auto 20px;
    font-size: 30px;
    text-align: center;
}


.qaset h3 {
    background-color: #eee;
    margin: 0;
    padding-left: 10px;
    text-align: left;
    box-sizing: border-box;

}


.company h3 {
    text-align: left;
    margin: 0 0 20px 0;
    font-size: 20px;

}

h4 {
    font-size: 50px;
    text-align: center;
    margin: 0 20px;
    text-align-last: justify; 
}


h6 {
    font-size: 20px;
    text-align: center;
}

.h6_under {
    position: absolute;
    /* top: 100px; */
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* coner系：大文字と小文字の上下セットみだし */
.coner {
    align-items: center;
    margin-bottom: 50px;
}

.coner_h2 {
    margin: 0 auto;
    width: 100%;
    align-items: center;
}






/* -------------------------------- */
/* ヘッダー部分 */
.head {
    display: flex;
    /* width: 100%; */
    height: 60px;
    /* デバッグ用で色付け */
    /* background-color: aquamarine; */
    justify-content: space-between;
    margin: 0 50px;
}

/* 親要素に対して相対的な大きさ設定 */
.rogo {
    width: 15%;
    height: 30px;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    
}

/* ヘッダーメニューの設定 */
.head ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 0;
}

/* ヘッドクラスのaタグ設定 */
.head a {
    text-decoration: none;
    color: black;
    /* ホバー時のアクション追加のため設定 */
    position: relative;
}

/* ホバー時のaタグアクションの下準備 */
.head a::after {
    position: absolute;
    content: '';
    width: 0%;
    left: 0;
    bottom: -8px;
    height: 3px;
    transition: .3s;
    background: #ddd
    ;
}
/* ホバー時のaタグアクション */
.head a:hover::after {
    width: 100%;

}

/* リスト要素の感覚調整 */
.head ul li {
    margin-left: 30px;
}

/* -------------------------------- */
/* ここからメイン */

/* メインロゴ */
/* 幅変更にも対応しやすいように％で大きさ設定 */
.main_rogo {
    width: 90%;
    margin: 0 5%;
}

/* 冒頭コメント。横幅％指定と中央揃え */
.toptext {
    width: 90%;
    text-align: center;
    margin: 40px 5% 0;

}


/* ここだけ強調 */
.b-blow {
    font-weight: bold;
    font-size: 40px;
    font-family: serif;
}

/* 行間を調整。間に2文字分が入る */
.toptext p {
    line-height: 300%;
    width: 100%;
    margin: 0;
}

/* ----------------------------------
ABOUT */

/* 背景に画像を設定するための土台部分 */
.box {
    position: relative;
    margin: 0;
    /* 小要素のabsolute分高さ調整 */
    height: 1250px;
    width: 100%;
}

/* 背景画像を固定する */
.back_img1 {
    position: absolute;
    width: 100%;
    
}
/* 背景の上に重なるように入力欄の要素作成 */
.textarea {
    position:absolute;
    text-align: center;
    top: 50px;
    align-items: center;
    margin: 200px 5% auto;
    width: 90%;
}

/* 見だし・左テキスト右画像のセット */
.textarea_1 {
    margin-bottom: 30px;
}

.textarea_1_1 {
    position: relative;
    display: flex;
}

/* .textarea p {
    width: 55%;
    line-height: 300%;
    margin: 20px 0 20px 0;
    text-align: left;
} */


.area1_p {
    width: 55%;
    line-height: 300%;
    margin: 20px 0 20px 0;
    text-align: left;
}

.img_samp {
    position: absolute;
    left: 55%;
    display: block;
    width: 45%;
}

.area1_p2 {
    width: 55%;
    line-height: 300%;
    margin: 60px 20px 20px 0;
    text-align: left;
}

/* ------------------------ */
/* .b-blowが選ばれる４つの理由 */

/* ４つの理由部分の枠 */
.four {
    margin: 250px 50px 0 50px;
    width: 900px;
}

.four_blow {
    font-size: 70px;
    font-weight: bold;
    font-family: serif;
}

.span_4 {
    font-size: 60px;
    font-weight: bold;
}


.pair {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.harf {
    position: relative;
    width: 50%;
    margin: 0 10px;
}

.title {
    text-align: center;
    position: relative;
    width: 100%;
    /* margin-bottom: 10px; */
    text-align: center;
    height: 150px;

}

.point {
    float: left;
    position: absolute;
    top: 50% ;
    left: 0;
    font-size: 30px;
    display: flex;
    width: 100%;
    height: 100%;
    /* align-items: center; */
}

.num {
    margin-right: 10px;
    margin-left: 10px;
    font-variant-numeric: tabular-nums;
    font-variant-numeric: slashed-zero;
}

.reason {
    text-align: center;
    display: inline-block;
    /* margin-left: auto;
    margin-right: auto; */
}

.icon_base {
    float: right;
    width: 100%;
    position: absolute;
    height: 100%;
    align-items: center;
    text-align: right;
}

.icon {
    /* float: right; */
    position: relative;
    padding-right: 25%;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    /* line-height: 100%; */
    
}

.kutu {
    top: 25%;
    position: relative;
    padding-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-top: 8%;

}

.reason_text {
    text-align: left;
    line-height: 300%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* --------------------------------- */
/* CUSTOMER REVIEWS */

.textarea2 {
    position:absolute;
    text-align: center;
    top: 50px;
    align-items: center;
    margin: 200px 50px auto;
    width: 900px;
}
 
.reviews {
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 250px;
}

.review {
    position: absolute;
    left: 0;
    width: 60%;
    z-index: 200;
    /* display: inline-block; */
}

/* ４つ目だけ比率変更 */
.review_4 {
    position: absolute;
    left: 0;
    width: 70%;
    z-index: 200;
    /* display: inline-block; */
}

.reviews p {
    text-align: left;
    line-height: 250%;
}

.img_rev {
    position: absolute;
    right: 0;
    z-index: 100;
    width: 50%;
    /* display: inline-block; */
}
/* ---------------------------- */

/* PRODUCTS */

.products {
    margin-top: 500px;
    /* height: 100px; */
    margin-left: 50px;
    margin-right: 50px;

}

.goods {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.goods_harf {
    width: 43%;
}

.goods_det {
    height: 400px;
}
.img_goods {
    width: 387px;
}

.goods_b {
    margin: 0 30px 0 auto;
    font-size: 30px;
}
.kakaku {
    text-align: center;
    /* 小要素を親からはみ出させる */
    margin: 0 calc(50% - 50vw) 20px;
    width: 100vw;
}

.goods p {
    line-height: 200%;
}

.online {
    margin-top: 30px;
    text-align: center;
    border: solid 1px black;
    height: 80px;
    display: inline-block;
    width: 100%;
    line-height: 80px;
    font-size: 20px;
}

.online:hover {
    background-color: black;
    color: white;
    transition: 1s;
}

.teiki {
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: center;
    border: solid 1px black;
    height: 80px;
    display: inline-block;
    width: 100%;
    line-height: 80px;
    font-size: 20px;
    font-size: 30px;
}

.teiki:hover {
    background-color: black;
    color: yellow;
    transition: 1s;
}


/* -----------------------------
FAQ */

.faq {
    width: 90%;
    margin: 30px 5%;
}

.coner_faq {
    align-items: center;
    margin-bottom: 100px;
}

.faq_h1 {
    font-size: 50px;
}

.coner_h2 {
    margin: 0 auto;
    width: 100%;
    align-items: center;
}
.qaset {
    margin-bottom: 40px;
}

.qaset p {
    line-height: 200%;
}
/* ------------------------------
news */

.news {
    margin: 200px 100px;
    width: 800px;
}

.news_row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
} 

.news_row2 {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.news a {
    width: 18%;
    /* height: 50px; */
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    display: inline-block;

}

/* 少し浮いて色が薄くなる */
.news a:hover {
    transform: translateY(-2px);
    opacity: 0.7;
}

.img_news {
    width: 80%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

/* --------------------------------
フッター */

.footer {
    /* width: 90%;
    margin: 20px 50px; */
    background-color: #eee;
    display: flex;
    position: relative;
}

.company {
    text-align: left;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.company_0 {
    margin-right: 30px;
}

.company p {
    line-height: 200%;
}

.sns_0 {
    position: absolute;
    right: 0;
    bottom: 20px;
    display: flex;
}

.sns1 {
    display: flex;
    margin-right: 10px;
    background-color: #1DA1F2;
    border-radius: 10px;
    color: white;
    border: solid 1px #1DA1F2;
    align-items: center;   
    font-size: 25px;
}

/* 少し浮いて色が薄くなる */
.sns1:hover {
    transform: translateY(-2px);
    opacity: 0.7;
}

.sns_0 a {
    text-decoration: none;
}

.sns1 p {
    margin: 5px 20px 5px 10px;
}

.sns1 img {
    margin-left: 10px;
}

.sns2 {
    display: flex;
    background-color: black;
    border-radius: 10px;
    color: white; 
    align-items: center; 
    border: solid 1px black;
    font-size: 25px;
}

.sns2:hover {
    transform: translateY(-2px);
    opacity: 0.7;
}

.sns2 p {
    margin: 5px 10px;
}